.game-container {
    flex-direction: row;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 1px 1px 1px 1px black;
    padding: .5rem;
    margin: .5rem;    
}

.upper-game-container {
    flex-direction: row;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 1px 1px 1px 1px black;
    padding: .5rem;
    margin: .5rem;
}
