.upgrade-panel-container {
    box-shadow: 2px 2px black;
    margin: .5rem;
    padding: .5rem;
    width: 350px;
    word-wrap: normal;
}

.soul-store {
    border: 2px solid grey;
}

.upgrade-panel {
    display: flex;
    flex-direction: column;
    vertical-align: top;    
}

.upgrades {
    margin: .5rem;
}