.circle-row {
    width: 96vw;
    margin: .2rem;
    padding: .2rem;
    display: flex;
    flex-direction: row;
}

.circle-subcontainer {
    display: flex;
    flex-direction: row;
}

.circle-base-text {
    -webkit-text-stroke: .2px black;
    color:white;
    vertical-align: center;
    margin: auto;
    margin-left:0px;
    margin-right:0px;
}

.circle-add-remove-button {
    text-align: center;
    vertical-align: center;
    font-weight: bold;
    outline: none;
    margin: .5rem;
    margin-right:0rem;
    width: 1.5rem;
    height: 1.5rem;
}

.limbo {
    background-image: linear-gradient(black, rgb(51, 41, 41));
}

.lust {
    background-image: linear-gradient(rgb(51, 41, 41), rgb(70, 46, 46));
}

.gluttony {
    background-image: linear-gradient(rgb(70, 46, 46), rgb(92, 49, 49));
}

.avarice {
    background-image: linear-gradient(rgb(92, 49, 49), rgb(109, 46, 46));
}

.wrath {
    background-image: linear-gradient(rgb(109, 46, 46), rgb(129, 45, 45));
}

.heresy {
    background-image: linear-gradient(rgb(129, 45, 45), rgb(153, 40, 40));
}

.violence {
    background-image: linear-gradient(rgb(153, 40, 40), rgb(153, 24, 24));
}

.fraud {
    background-image: linear-gradient(rgb(153, 24, 24), rgb(136, 12, 12));
}

.treachery {
    background-image: linear-gradient(rgb(136, 12, 12), rgb(110, 4, 4));
}